.editor-root-container {
  width: 1900px;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .noto-black {
    font-family: NotoSansCJKkr-Thin;
  }

  &.hide {
    display: 'none';
    visibility: hidden;
  }

  &.mobile-web {
    transform-origin: left top;
    transform: scale(0.5)
  }

  .editor-preview-container {
    background: black;
    margin: auto;
    // transform-origin: left top;
    // transform: scale(0.6)
  }

  .editor-tab-container {
    height: 720px;
    .editor-tab-item {
      width: 80px;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-size: 13px;
      text-align: center;
      line-height: 50px;

      &.active {
        background: #3f51b5;
        color: #ffffff;
      }
    }
  }

  .editor-body-container {
    display: flex;

    .editor-mid-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      // transform-origin: left top;
      // transform: scale(0.6);
    }
  }

}
